body{
    height: 200px;
    width: 200px;
    background-image: url(./pro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
   
    color: antiquewhite;
}
.left{
  
  font-size:  xx-large;
  display: inline-block;
 
}
.right{
 


  
display: inline-block;
position: absolute;

 font-size: 50px;
  margin-left: 2300px;
  
}
.mid{

    display: inline-block;
    position: absolute;
   margin-left: 800px;
   margin-top: 0;
  font-size: 50px;

 
  
}
.left img{
    width: 100px;
 margin-left: 40px;
}
.left text{
    text-align: center;
}
.btn{
    font-family: 'Playball', cursive;
    display: inline-block;
    padding: 4px 15px;
    font-size: 30px;
    cursor: pointer;
}

.btn:hover{
    background-color: blue;
}
.active:hover{
    color: brown;
}
.container{
    border: 2px solid black;
    border-radius: 30px;
    margin: 70px 400px;
    padding: 20px 20px;
    width: 600px;
    height: 700px;
    font-size: 20px;
}
.formgroup input{
    text-align: center;
    display: block;
    width: 415px;
    padding: 24px;
    border: 7px solid black;
    margin: 3px auto;
border-radius: 20px;
font-size: 40px;
}

.bton{
    font-family: 'Playball', cursive;
    display: inline-block;
    padding: 5px 58px;
    font-size: 48px;
    cursor: pointer;
    text-align: center;
    margin-left: 66px;
    width: 461px;
    border-radius: 13px;
    color: aliceblue;
    background-color: black;
}
.bton:hover{
    background-color: rgb(206, 79, 89);
}
.about:hover{
    color: black;
}
.fit:hover{
    color: black;
}
.con:hover{
    color: black;
}